<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="RU">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<body class="container my-2" align="center">
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin}">Admin</a>
    <a th:href="@{/groups}">Groups</a>
</div>
<a th:href="@{/users/my}">My page</a> <br>
<a th:href="@{/logout}">Logout</a>
</body>
</html>