<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="RU">
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
<head>
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<header th:insert="fragments/general.html :: header"></header>
<body>
<form th:action="@{/ocups/{id}(id=${id})}" th:object="${dto}" method="post">
    <div class="form-group row">
        <div class="custom-control custom-radio custom-control-inline">
            <input id="1" type="radio" th:field="*{hour}" th:value="1" class="custom-control-input">
            <label for="1" class="custom-control-label">8:00-9:35</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="2" type="radio" th:field="*{hour}" th:value="2" class="custom-control-input">
            <label for="2" class="custom-control-label">9:45-11:20</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="3" type="radio" th:field="*{hour}" th:value="3" class="custom-control-input">
            <label for="3" class="custom-control-label">11:30-13:05</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="4" type="radio" th:field="*{hour}" th:value="4" class="custom-control-input">
            <label for="4" class="custom-control-label">13:25-15:00</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="5" type="radio" th:field="*{hour}" th:value="5" class="custom-control-input">
            <label for="5" class="custom-control-label">15:10-16:45</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="6" type="radio" th:field="*{hour}" th:value="6" class="custom-control-input">
            <label for="6" class="custom-control-label">16:55-18:30</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input id="7" type="radio" th:field="*{hour}" th:value="7" class="custom-control-input">
            <label for="7" class="custom-control-label">18:40-20:00</label>
        </div>
    </div>
    <div>
        <label for="subjectName">subjectName</label>
        <input type="text" th:field="*{subjectName}" class="form-control" name="subjectName" id="subjectName">
    </div>
    <div class="form-group">
        <label for="audience">audience</label>
        <input type="text" th:field="*{audience}" class="form-control" name="subjectName" id="audience">
    </div>
    <div class="col-md-4 mt-5">
        <label for="date">Date</label>
        <div class="input-group date">
            <input type="date" class="form-control" id="date" autocomplete="off" th:field="*{date}"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<table class="table">
    <tr>
        <th> id</th>
        <th> Number</th>
    </tr>
    <tr th:each="group : ${groups}">
        <td><span th:text="${group.getId()}"> Id </span></td>
        <td><span th:text="${group.getNumber()}"> Name </span></td>
        <td th:if="${!ocu.groups.contains(group)}">
            <form class="container my-2" method="post"
                  th:action="@{/ocups/{coupleId}/groups/{groupId}(groupId=${group.getId()}, coupleId=${ocu.id})}">
                <label>
                    <button type="submit" class="btn btn-info">Add group</button>
                </label>
            </form>
        </td>
        <td th:if="${ocu.groups.contains(group)}">
            <form class="container my-2" method="post"
                  th:action="@{/ocups/{coupleId}/groups/{groupId}/delete(groupId=${group.getId()}, coupleId=${ocu.id})}">
                <label>
                    <button type="submit" class="btn btn-danger">Remove group</button>
                </label>
            </form>
        </td>
    </tr>
</table>
<form class="container my-2" method="post"
      th:action="@{/ocu/{coupleId}/delete(coupleId=${id})}">
    <label>
        <button type="submit" class="btn btn-danger">Delete</button>
    </label>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>