<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <title>Thymeleaf Fragments: home</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
Today: <span th:text="${dto.todayT} + ' ' + ${dto.todayT.dayOfWeek}">
    today
</span>
<div>
    <a th:href="@{/teacher/my/{weak}(weak=${dto.getHidenToday().minusDays(7)})}">Prev
        weak</a>
    <a th:href="@{/teacher/my/{weak}(weak=${dto.getHidenToday().plusDays(7)})}">Next
        weak</a>
</div>
<table id="example" class="table table-striped table-bordered">
    <tr>
        <th class="th-sm"> Mon <span th:text="${dto.firstDay}"></span></th>
        <th class="th-sm"> Tue <span th:text="${dto.firstDay.plusDays(1)}"></span></th>
        <th class="th-sm"> Wed <span th:text="${dto.firstDay.plusDays(2)}"></span></th>
        <th class="th-sm"> Thu <span th:text="${dto.firstDay.plusDays(3)}"></span></th>
        <th class="th-sm"> Fri <span th:text="${dto.firstDay.plusDays(4)}"></span></th>
        <th class="th-sm"> Sat <span th:text="${dto.firstDay.plusDays(5)}"></span></th>
    </tr>
    <tr th:each="hour : ${#numbers.sequence(0, 8)}">
        <td th:if="${dto.mon} != null">
            <div th:if="${dto.mon.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.mon.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.mon.get(hour)} != null" th:text="'Audience: ' + ${dto.mon.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.mon.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.mon.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.tue} != null">
            <div th:if="${dto.tue.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.tue.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.tue.get(hour)} != null" th:text="'Audience: ' + ${dto.tue.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.tue.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.tue.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.tue} == null">
            <div> Holiday</div>
        </td>
        <td th:if="${dto.wen} != null">
            <div th:if="${dto.wen.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.wen.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.wen.get(hour)} != null" th:text="'Audience: ' + ${dto.wen.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.wen.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.wen.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.wen} == null">
            <div> Holiday</div>
        </td>
        <td th:if="${dto.thu} != null">
            <div th:if="${dto.thu.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.thu.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.thu.get(hour)} != null" th:text="'Audience: ' + ${dto.thu.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.thu.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.thu.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.thu} == null">
            <div> Holiday</div>
        </td>
        <td th:if="${dto.fri} == null">
            <div> Holiday</div>
        </td>
        <td th:if="${dto.fri} != null">
            <div th:if="${dto.fri.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.fri.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.fri.get(hour)} != null" th:text="'Audience: ' + ${dto.fri.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.fri.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.fri.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.sun} != null">
            <div th:if="${dto.sun.get(hour)} != null"
                 th:text="'Subject: ' + ${dto.sun.get(hour).getSubject().getName()}">
                Subject
            </div>
            <div th:if="${dto.sun.get(hour)} != null" th:text="'Audience: ' + ${dto.sun.get(hour).getAudience()}"> Mon
                Couple
            </div>
            <div th:if="${dto.sun.get(hour)} != null"
                 th:text="'Groups: ' + ${dto.sun.get(hour).getGroups()}">
            </div>
        </td>
        <td th:if="${dto.sun} == null">
            <div> Holiday</div>
        </td>
    </tr>
</table>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>