<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="RU">
<head>
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<header th:insert="fragments/general.html :: header"></header>
<body>
<table class="table table-striped table-bordered">
    <tr sec:authorize="hasRole('ADMIN')">
        <th>Id</th>
        <th><span th:text="${user.getId()}"> Id </span></th>
    </tr>
    <tr>
        <th>Name:</th>
        <th><span th:text="${user.getName()}"> Name </span></th>
    </tr>
    <tr>
        <th>Surname:</th>
        <th><span th:text="${user.getSurname()}"> Surname </span></th>
    </tr>
    <tr>
        <th>Patronymic:</th>
        <th><span th:text="${user.getPatronymic()}"> Patronymic </span></th>
    </tr>
</table>
<div th:if="${user.getStudent() != null}">
    Student data:
    <div th:with="student=${user.getStudent()}">
        <span th:text="${student.getGroup()}"></span>
        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/students/{studentId}/groups(studentId=${student.getId()})}">Add user in groups</a>
    </div>
</div>
<div th:if="${user.getStudent() == null}" sec:authorize="hasRole('ADMIN')">
    <form class="container my-2" method="post" th:action="@{/students?userId={userId}(userId=${user.getId()})}">
        <label>
            <button type="submit" class="btn btn-info">Add in students</button>
        </label>
    </form>
</div>
<div th:if="${user.getTeacher() != null}">
    Teacher date:
    <div th:with="teacher=${user.getTeacher()}">
        Position: <span th:text="${teacher.getPosition()}"> pos </span> <br>
        Experience: <span th:text="${teacher.getExperience()}"> exp </span>
        Degree: <span th:text="${teacher.getDegree()}"> degree </span>
    </div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/teachers/{userId}/update(userId=${user.getId()})}" th:object="${teacher}" method="post">
        <div class="form-group">
            <label for="position">position</label>
            <input type="text" th:field="*{position}" class="form-control" id="position" name="position">
        </div>
        <div class="form-group">
            <label for="experience">experience</label>
            <input type="text" th:field="*{experience}" class="form-control" name="experience" id="experience">
        </div>
        <div class="form-group">
            <label for="degree">degree</label>
            <input type="text" class="form-control" name="degree" id="degree">
        </div>
        <button type="submit" th:field="*{degree}" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>